customtkinter>=5.2.2
pillow>=10.0.0
rembg[cpu]>=2.0.50
torch>=2.0.0
torchvision>=0.15.0
trimesh>=4.0.0
pyrender>=0.1.45
PyMCubes
einops==0.7.0
omegaconf==2.3.0
transformers==4.35.0
huggingface-hub
imageio[ffmpeg]
